AI_Email_Assistant.json
{
  "name": "AI_Email_Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "febdfd54-7ff0-40fb-a5d1-1a105bf2e8e8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "DxHrygyzM2081SpE",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1313ef6e-e790-4fb9-b7b8-eb5f4ac728d5",
              "name": "Email text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cfec8960-0f43-46ea-a13e-69b02db60368",
              "name": "Sender",
              "value": "={{ $json.headers.from }}",
              "type": "string"
            },
            {
              "id": "50280730-57e1-45cd-9a9d-c1e24160e0dd",
              "name": "Subject",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        0
      ],
      "id": "c26a5d36-ad72-4ae8-ba6b-a751940f5e4e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3:latest",
          "mode": "list",
          "cachedResultName": "qwen3:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant.\n\nSummarize the email in 2 sentences.\n\nThen generate a polite reply.\n\nEMAIL:\n{{ $json['Email text'] }}\n\nOUTPUT FORMAT\n\nSummary:\nReply:"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "57fc93ac-187b-478a-8644-8801b6c728b1",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "W8PuLmCstBSXAAV3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6441830486",
        "text": "={{ $('Edit Fields').item.json.Sender }}\n\n{{ $('Edit Fields').item.json.Subject }}\n\n{{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "6c8ff95e-996a-4c42-a0d3-55fc31c7d7a2",
      "name": "Send a text message",
      "webhookId": "c9061535-cf1a-4b05-a4ca-e6f6eb6a4664",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "telegramApi": {
          "id": "HFXyFWzAFlhJDCGD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "06363ee1-d100-4d4f-9ef9-abb11f94000e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6dbe30e6ef22699531133b813eae6614af0aeec37ea0206de933a424239c14e2"
  },
  "id": "NDZtJicxzWydl88b",
  "tags": []
}